@keyframes pop-in {
    0% { opacity: 0; transform: scale(0.1); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes pop-out {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.1); }
}

.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    cursor: pointer;
}

.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info{
    padding: 20px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    p{
        font-size: 20px;
        font-weight: 500;
    }

    img{
        width: 70px;
    }
}

.food-item-desc{
    color: #676767;
    font-size: 12px;
}

.food-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: width 0.2s;
    animation: pop-in 0.5s ;

    &:hover{
        width: 40px;
    }
}

.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background: white;
    box-shadow: 0 0 3px tomato;
    transition: all 0.3s ease;
    animation: pop-in 0.5s;
}

